# OS
.DS_Store

# Editors/IDE
.vscode/

# Python
__pycache__/
*.py[cod]
*.so
.env
.venv/
venv/
env/
*.egg-info/
build/
dist/

# Node/Vite
node_modules/
npm-debug.log*
pnpm-debug.log*
modern-app/frontend/dist/
modern-app/frontend/.vite/

# R
.Rhistory
.RData
.Rproj.user/
.Ruserdata
packrat/lib*/
packrat/src/

# Logs
*.log
